<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.logophone"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.logophone.MainActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.logophone.Visualizer"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            android:parentActivityName="com.logophone.MainActivity">
        </activity>
        <activity
            android:name="com.logophone.TrainingPart"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            android:parentActivityName="com.logophone.MainActivity">
        </activity>
        <activity
            android:name="com.logophone.TableLayoutFixed"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            android:parentActivityName="com.logophone.MainActivity">
        </activity>
        <activity
            android:name="com.logophone.Constructor"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            android:parentActivityName="com.logophone.MainActivity">
        </activity>
        <activity
            android:name="com.logophone.TestingGame"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            android:parentActivityName="com.logophone.MainActivity">
        </activity>
        <activity
            android:name="com.logophone.Information"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="false"
            android:parentActivityName="com.logophone.MainActivity">
        </activity>
        <activity
            android:name="com.logophone.GridSavedContactsViewActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            android:parentActivityName="com.logophone.MainActivity">
        </activity>
        <activity
            android:name="com.logophone.PagerSavedContactsViewActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            android:parentActivityName="com.logophone.GridSavedContactsViewActivity">
        </activity>

    </application>

</manifest>
